opencv-python
psutil
pygithub
pytest
pytest-asyncio
pytest-html
pynput
pywinctl
pillow
pyinfra
visual_regression_tracker @ git+https://github.com/adabru/sdk-python.git@12cd492e56c00b74744bd00a9495cc39edff8226
plyvel-ci